In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/iata-icao.csv')
df

,country_code,region_name,iata,icao,airport,latitude,longitude
0,AE,Abu Zaby,AAN,OMAL,Al Ain International Airport,24.2617,55.6092
1,AE,Abu Zaby,AUH,OMAA,Abu Dhabi International Airport,24.4330,54.6511
2,AE,Abu Zaby,AYM,NaN,Yas Island Seaplane Base,24.4670,54.6103
3,AE,Abu Zaby,AZI,OMAD,Al Bateen Executive Airport,24.4283,54.4581
4,AE,Abu Zaby,DHF,OMAM,Al Dhafra Air Base,24.2482,54.5477
...,...,...,...,...,...,...,...
9153,ZW,Masvingo,MVZ,FVMV,Masvingo Airport,-20.0553,30.8591
9154,ZW,Matabeleland North,HWN,FVWN,Hwange National Park Airport,-18.6299,27.0210
9155,ZW,Matabeleland North,VFA,FVFA,Victoria Falls Airport,-18.0959,25.8390
9156,ZW,Matabeleland North,WKI,FVWT,Hwange Town Airport,-18.3630,26.5198
9157,ZW,Midlands,GWE,FVTL,Thornhill Air Base,-19.4364,29.8619

In [6]:
df_us = df[df['country_code'] == 'US']
df_us

,country_code,region_name,iata,icao,airport,latitude,longitude
6803,US,Alabama,AIV,KAIV,George Downer Airport,33.1065,-88.1978
6804,US,Alabama,ALX,KALX,Thomas C. Russell Field,32.9147,-85.9630
6805,US,Alabama,ANB,KANB,Anniston Regional Airport,33.5882,-85.8581
6806,US,Alabama,ASN,KASN,Talladega Municipal Airport,33.5699,-86.0509
6807,US,Alabama,AUO,KAUO,Auburn University Regional Airport,32.6151,-85.4340
...,...,...,...,...,...,...,...
8832,US,Wyoming,SAA,KSAA,Shively Field,41.4449,-106.8240
8833,US,Wyoming,SHR,KSHR,Sheridan County Airport,44.7692,-106.9800
8834,US,Wyoming,THP,KTHP,Hot Springs County-Thermopolis Municipal Airport,43.7136,-108.3900
8835,US,Wyoming,TOR,KTOR,Torrington Municipal Airport,42.0645,-104.1530
8836,US,Wyoming,WRL,KWRL,Worland Municipal Airport,43.9657,-107.9510

In [7]:
df_us.to_parquet('../data/iata-icao-us.parquet')