In [141]:
import pandas as pd
import pyarrow
import dask.dataframe as dd
import seaborn as sns
import matplotlib.pyplot as plt

In [142]:
ddf = dd.read_parquet('../data/us_accidents.parquet')
print(ddf.head())

    ID   Source  Severity           Start_Time             End_Time  \
0  A-1  Source2         3  2016-02-08 05:46:00  2016-02-08 11:00:00
1  A-2  Source2         2  2016-02-08 06:07:59  2016-02-08 06:37:59
2  A-3  Source2         2  2016-02-08 06:49:27  2016-02-08 07:19:27
3  A-4  Source2         3  2016-02-08 07:23:34  2016-02-08 07:53:34
4  A-5  Source2         2  2016-02-08 07:39:07  2016-02-08 08:09:07

   Start_Lat  Start_Lng  End_Lat  End_Lng  Distance(mi)  ... Roundabout  \
0  39.865147 -84.058723      NaN      NaN          0.01  ...      False
1  39.928059 -82.831184      NaN      NaN          0.01  ...      False
2  39.063148 -84.032608      NaN      NaN          0.01  ...      False
3  39.747753 -84.205582      NaN      NaN          0.01  ...      False
4  39.627781 -84.188354      NaN      NaN          0.01  ...      False

  Station   Stop Traffic_Calming Traffic_Signal Turning_Loop Sunrise_Sunset  \
0   False  False           False          False        False          Night
1   False  False           False          False        False          Night
2   False  False           False           True        False          Night
3   False  False           False          False        False          Night
4   False  False           False           True        False            Day

  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0          Night             Night                 Night
1          Night             Night                   Day
2          Night               Day                   Day
3            Day               Day                   Day
4            Day               Day                   Day

[5 rows x 46 columns]

In [143]:
ddf.info()

<class 'dask.dataframe.dask_expr.DataFrame'>
Columns: 46 entries, ID to Astronomical_Twilight
dtypes: bool(13), float64(12), int64(1), string(20)

In [144]:
ddf.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [145]:
display(ddf.head())

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [146]:
ddf = ddf.drop(columns=['ID', 'Source', 'Distance(mi)', 'End_Time', 'Duration', 'End_Lat', 'End_Lng', 'Description','Country', 'Street', 'Weather_Timestamp', 'Timezone', 'Zipcode'], errors='ignore')

In [147]:
display(ddf.head())

,Severity,Start_Time,Start_Lat,Start_Lng,City,County,State,Airport_Code,Temperature(F),Wind_Chill(F),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,KFFO,36.9,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,Franklin,OH,KCMH,37.9,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,2,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,Clermont,OH,KI69,36.0,33.3,...,False,False,False,False,True,False,Night,Night,Day,Day
3,3,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,Montgomery,OH,KDAY,35.1,31.0,...,False,False,False,False,False,False,Night,Day,Day,Day
4,2,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,Montgomery,OH,KMGY,36.0,33.3,...,False,False,False,False,True,False,Day,Day,Day,Day

In [148]:
ddf['Start_Time'] = dd.to_datetime(ddf['Start_Time'], format='mixed')

In [149]:
ddf.columns

Index(['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'County',
       'State', 'Airport_Code', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [150]:
print(ddf.dtypes)

Severity                         float64
Start_Time                datetime64[ns]
Start_Lat                        float64
Start_Lng                        float64
City                     string[pyarrow]
County                   string[pyarrow]
State                    string[pyarrow]
Airport_Code             string[pyarrow]
Temperature(F)                   float64
Wind_Chill(F)                    float64
Humidity(%)                      float64
Pressure(in)                     float64
Visibility(mi)                   float64
Wind_Direction           string[pyarrow]
Wind_Speed(mph)                  float64
Precipitation(in)                float64
Weather_Condition        string[pyarrow]
Amenity                           object
Bump                              object
Crossing                          object
Give_Way                          object
Junction                          object
No_Exit                           object
Railway                           object
Roundabout                        object
Station                           object
Stop                              object
Traffic_Calming                   object
Traffic_Signal                    object
Turning_Loop                      object
Sunrise_Sunset           string[pyarrow]
Civil_Twilight           string[pyarrow]
Nautical_Twilight        string[pyarrow]
Astronomical_Twilight    string[pyarrow]
dtype: object

In [151]:
display(ddf.head())

,Severity,Start_Time,Start_Lat,Start_Lng,City,County,State,Airport_Code,Temperature(F),Wind_Chill(F),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,KFFO,36.9,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,Franklin,OH,KCMH,37.9,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,2,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,Clermont,OH,KI69,36.0,33.3,...,False,False,False,False,True,False,Night,Night,Day,Day
3,3,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,Montgomery,OH,KDAY,35.1,31.0,...,False,False,False,False,False,False,Night,Day,Day,Day
4,2,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,Montgomery,OH,KMGY,36.0,33.3,...,False,False,False,False,True,False,Day,Day,Day,Day

In [152]:
ddf['City'].nunique().compute()

np.int64(13679)

In [153]:
for col in ddf.columns:
    if (ddf[col].dtype == 'object') or (ddf[col].dtype == 'string[pyarrow]'):
        print(f"{col}: {ddf[col].nunique().compute()} unique values")

City: 13679 unique values
County: 1871 unique values
State: 49 unique values
Airport_Code: 2046 unique values
Wind_Direction: 25 unique values
Weather_Condition: 144 unique values
Amenity: 2 unique values
Bump: 2 unique values
Crossing: 2 unique values
Give_Way: 2 unique values
Junction: 2 unique values
No_Exit: 2 unique values
Railway: 2 unique values
Roundabout: 2 unique values
Station: 2 unique values
Stop: 2 unique values
Traffic_Calming: 2 unique values
Traffic_Signal: 2 unique values
Turning_Loop: 1 unique values
Sunrise_Sunset: 2 unique values
Civil_Twilight: 2 unique values
Nautical_Twilight: 2 unique values
Astronomical_Twilight: 2 unique values

In [154]:
display(ddf.head())

,Severity,Start_Time,Start_Lat,Start_Lng,City,County,State,Airport_Code,Temperature(F),Wind_Chill(F),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,KFFO,36.9,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,Franklin,OH,KCMH,37.9,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,2,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,Clermont,OH,KI69,36.0,33.3,...,False,False,False,False,True,False,Night,Night,Day,Day
3,3,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,Montgomery,OH,KDAY,35.1,31.0,...,False,False,False,False,False,False,Night,Day,Day,Day
4,2,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,Montgomery,OH,KMGY,36.0,33.3,...,False,False,False,False,True,False,Day,Day,Day,Day

In [155]:
ddf['Airport_Code'].unique().compute()

0      KOSU
1      KLHQ
2      KBKL
3      KFDY
4      KDLZ
       ...
657    KMDS
658    K8D3
659    KDWX
660    KY22
661    KICR
Name: Airport_Code, Length: 2046, dtype: string

In [172]:
ddf_airport = dd.read_parquet('../data/iata-icao-us.parquet')
display(ddf_airport.head())

,country_code,region_name,iata,icao,airport,latitude,longitude
6803,US,Alabama,AIV,KAIV,George Downer Airport,33.1065,-88.1978
6804,US,Alabama,ALX,KALX,Thomas C. Russell Field,32.9147,-85.9630
6805,US,Alabama,ANB,KANB,Anniston Regional Airport,33.5882,-85.8581
6806,US,Alabama,ASN,KASN,Talladega Municipal Airport,33.5699,-86.0509
6807,US,Alabama,AUO,KAUO,Auburn University Regional Airport,32.6151,-85.4340

In [173]:
ddf_airport.info()

<class 'dask.dataframe.dask_expr.DataFrame'>
Columns: 7 entries, country_code to longitude
dtypes: float64(2), string(5)

In [174]:
print(ddf[ddf['Airport_Code'] == "KFFO"]['Airport_Code'].unique().compute())
print(ddf_airport[ddf_airport['icao'] == "KFFO"]['icao'].unique())

0    KFFO
Name: Airport_Code, dtype: string
Dask Series Structure:
npartitions=1
    string
       ...
Dask Name: unique, 6 expressions
Expr=Unique(frame=(Filter(frame=ReadParquetFSSpec(05a3ea8), predicate=ReadParquetFSSpec(05a3ea8)['icao'] == KFFO))['icao'])

In [175]:
ddf = ddf.merge(ddf_airport, how='left', left_on='Airport_Code', right_on='icao')

In [176]:
ddf.columns

Index(['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'County',
       'State', 'Airport_Code', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'country_code', 'region_name', 'iata', 'icao',
       'airport', 'latitude', 'longitude'],
      dtype='object')

In [177]:
ddf.info()

<class 'dask.dataframe.dask_expr.DataFrame'>
Columns: 41 entries, Severity to longitude
dtypes: datetime64[ns](1), object(13), float64(12), string(15)

In [178]:
ddf_airport.info()

<class 'dask.dataframe.dask_expr.DataFrame'>
Columns: 7 entries, country_code to longitude
dtypes: float64(2), string(5)

In [179]:
ddf[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'County', 'State', 'Airport_Code', 'country_code', 'region_name', 'iata', 'icao', 'airport', 'latitude', 'longitude']].compute()

,Severity,Start_Time,Start_Lat,Start_Lng,City,County,State,Airport_Code,country_code,region_name,iata,icao,airport,latitude,longitude
0,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,KFFO,US,Alabama,TGE,<NA>,Sharpe Field,32.4919,-85.7756
1,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,KFFO,US,Alaska,ALZ,<NA>,Alitak Seaplane Base,56.8995,-154.2480
2,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,KFFO,US,Alaska,AOS,<NA>,Amook Bay Seaplane Base,57.4715,-153.8150
3,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,KFFO,US,Alaska,AQY,<NA>,Girdwood Airport,60.9661,-149.1260
4,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,KFFO,US,Alaska,BQV,<NA>,Bartlett Cove Seaplane Base,58.4552,-135.8850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5657319,2,2019-08-23 18:03:25,34.002480,-117.379360,Riverside,Riverside,CA,KRAL,US,California,RAL,KRAL,Riverside Municipal Airport,33.9519,-117.4450
5657320,2,2019-08-23 19:11:30,32.766960,-117.148060,San Diego,San Diego,CA,KMYF,US,California,MYF,KMYF,Montgomery Field Airport,32.8157,-117.1400
5657321,2,2019-08-23 19:00:21,33.775450,-117.847790,Orange,Orange,CA,KSNA,US,California,SNA,KSNA,John Wayne Airport (Orange County Airport),33.6757,-117.8680
5657322,2,2019-08-23 19:00:21,33.992460,-118.403020,Culver City,Los Angeles,CA,KSMO,US,California,SMO,KSMO,Santa Monica Municipal Airport,34.0158,-118.4510
5657323,2,2019-08-23 18:52:06,34.133930,-117.230920,Highland,San Bernardino,CA,KSBD,US,California,SBD,KSBD,San Bernardino International Airport,34.0954,-117.2350

In [162]:
display(ddf.head())

,Severity,Start_Time,Start_Lat,Start_Lng,City,County,State,Airport_Code,Temperature(F),Wind_Chill(F),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3,2016-02-08 05:46:00,39.865147,-84.058723,Dayton,Montgomery,OH,KFFO,36.9,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2,2016-02-08 06:07:59,39.928059,-82.831184,Reynoldsburg,Franklin,OH,KCMH,37.9,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,2,2016-02-08 06:49:27,39.063148,-84.032608,Williamsburg,Clermont,OH,KI69,36.0,33.3,...,False,False,False,False,True,False,Night,Night,Day,Day
3,3,2016-02-08 07:23:34,39.747753,-84.205582,Dayton,Montgomery,OH,KDAY,35.1,31.0,...,False,False,False,False,False,False,Night,Day,Day,Day
4,2,2016-02-08 07:39:07,39.627781,-84.188354,Dayton,Montgomery,OH,KMGY,36.0,33.3,...,False,False,False,False,True,False,Day,Day,Day,Day